.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .news-title {
  color: black;
}

button {
  transition: background-color 0.3s, color 0.3s;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {
  .swiper-container {
    max-height: 20vh !important;
    width: 80vw !important;
  }
  .swiper-image {
    width: 78vw !important;
    margin: unset !important;
  }
  .ads-1 {
    width: 78vw !important;
    height: 12vh !important;
    margin-top: 5% !important;
    margin-left: unset !important;
  }
  .ads-2  {
    width: 78vw !important;
    margin-top: 5% !important;
    margin-left: unset !important;
  }
  .ads-3 {
    width: 78vw !important;
    margin-top: 5% !important;
    margin-left: unset !important;
  }
}

@media (min-width: 768px) and (max-width: 1336px) {
  .swiper-wrapper {
    max-height: 23vh !important;
  }
  .ads-3 {
    width: 25vw !important;
    margin-left: 6% !important;
  }
}
